main {
  text-align: center;
  padding: 1em;
  max-width: 360px;
  margin: 0 auto;
}

p {
  color: #ff3e00;
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 200;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}
